@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url("../../public/Homepage.png"); */
  /* background-color: #6035FF; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 0px;
}

/* .gradient-border {
  border: 1px solid; 
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #FFFE89, #C65E34);
} */



/* .border-gradient {
  border: 1px solid transparent;
  transition: border-image-source 0.3s ease;
} */

.border-gradient:hover {
  border-image-slice: 1;
  border-radius: 8px;
  /* background: linear-gradient(120deg, #FFFE89, #C65E34); */
  border-image-source: linear-gradient(120deg, #FFFE89, #C65E34);
}

.hover-image {
  transition: transform 0.5s ease-in-out;
}

.hover-image:hover {
  transform: scale(1.1);
}


.triangle-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid black;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

dialog.slide-down {
  animation: slide-down 0.5s forwards;
}